:root {
    --font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
    font-family: sans-serif;
    background-color: rgb(241, 241, 237);
    line-height: 1.15;
    margin: -8px;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.top_navigation{
    margin-top: 0px;
    display: flex;
    height:100px;
    width: 100%;
    border: 1px solid rgb(0, 183, 255);
    border-radius: 0px;
    background-color: rgb(0, 183, 255);
    align-items: center;
    margin-bottom: 0px;
    position: fixed;
    z-index: 1;
    box-shadow: -1px -1px 10px 1px black;

}
.bank_logo{
    display: block;
    height: auto;
    width: auto;
}

.bank_logo a{
  text-decoration: none;
  color: black;
}

@media (max-width: 384px){
  #brand{
    margin-left:100px;
    display: block;
  }
}

@media(min-width:385px) and (max-width: 670px){
  #brand{
    margin-left: 200px;
    display: block;


  }
}


.fsa_logo{
  object-fit: contain;
  aspect-ratio: 3/2;
  width: 50%;
  margin-left: 15px;
  margin-bottom: -10px;
  margin-top: 10px;



}
h3{
    margin-left: 11px;
    margin-top: 0px;
    font-size: 16px;
    cursor: pointer;
}



.darshboard{
    display: none;
    margin-top: 93px;
    border: 1px solid skyblue;
    width: auto;
    min-width: 300px;
    max-width: 400px;
    height: 600px;
    align-content: left;
    background-color: rgb(0, 183, 255);
    box-shadow: 2px 1px 9px -3px rgb(0, 0, 0);
    transition:0.5s ease-out;
    position: fixed;
    z-index: 1;
}


.open-menu-icon{
  font-size: 30px;
  margin: 6px 20px;
  cursor: pointer;
}

.open-menu-icon:hover{
  color: rgb(255, 255, 255);
}

@media (min-width : 1000px){
  #mobile-menu{
    display: block;
  }
}


.close-menu-icon{
  font-size: 40px;
  margin-left: 85%;
  cursor: pointer;
  color: red;
}

@media(min-width : 1000px){
  #close-menu-bar{
    display: block;
  }
}

.close-menu-icon:hover{
  font-size: 45px;
  color: white;
  transition: 0.5s;
}

.what-wedo{
  width: auto;
  height: auto;
  justify-content: space-around;

}

.home{
  height: 40px;
  width: auto;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  padding: 5px;

}
.home:hover{
  background-color: rgb(6, 81, 110);
  cursor: pointer;
  border-radius: 10px;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
}

.fsa-home{
  height: auto;
  width: auto;
}

.fsa-home a{
  text-decoration: none;
  font-size: 1.5rem;
  font: bold;
  color: whitesmoke;
  text-align: center;
  font-family: monospace;
  margin-left: 60px;
}

.services{
  height: 40px;
  width: auto;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  padding: 5px;
}
.fsa-services{
  height: fit-content;
  width: 100%;
  margin-bottom: 0px;
  justify-content: center;
  padding: 5px;
}
.fsa-services:hover{
  background-color: rgb(6, 81, 110);
  cursor: pointer;
  border-radius: 10px;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;


}


.fsa-services a{
  text-decoration: none;
  font-size: 1.5rem;
  font: bold;
  color: whitesmoke;
  text-align: center;
  font-family: monospace;
  margin-left: 60px;
  
}

.contacts-us{
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  padding: 5px;
}
.contacts-us:hover{
  background-color: rgb(6, 81, 110);
  cursor: pointer;
  border-radius: 10px;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;

}

.fsa-contacts{
  width: auto;
  height: auto;
  padding: 5px;

}


.fsa-contacts a{
  text-decoration: none;
  font-size: 1.5rem;
  font: bold;
  color: whitesmoke;
  text-align: center;
  font-family: monospace;
  margin-left: 60px;
}

.payments{
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  padding: 5px;
}
.payments:hover{
  background-color: rgb(6, 81, 110);
  cursor: pointer;
  border-radius: 10px;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;

}

.fsa-payments{
  width: auto;
  height: auto;
  padding: 5px;
}


.fsa-payments a{
  text-decoration: none;
  font-size: 1.5rem;
  font: bold;
  color: whitesmoke;
  text-align: center;
  font-family: monospace;
  margin-left: 60px;
}

.staff{
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  padding: 5px;
}

.staff:hover{
  background-color: rgb(6, 81, 110);
  cursor: pointer;
  border-radius: 10px;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;

}
.fsa-team{
  width: auto;
  height: auto;
  padding: 5px;
}


.fsa-team a{
  text-decoration: none;
  font-size: 1.5rem;
  font: bold;
  color: whitesmoke;
  text-align: center;
  font-family: monospace;
  margin-left: 60px;
}

.partners{
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    padding: 5px;
  }

.fsa-partners{
  width: auto;
  height: auto;
  padding: 5px;
}

.partners:hover{
  background-color: rgb(6, 81, 110);
  cursor: pointer;
  border-radius: 10px;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
}


.fsa-partners a{
  text-decoration: none;
  font-size: 1.5rem;
  font: bold;
  color: whitesmoke;
  text-align: center;
  font-family: monospace;
  margin-left: 60px;
}

.events{
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  padding: 5px;
}

.fsa-events{
width: auto;
height: auto;
padding: 5px;
}

.events:hover{
background-color: rgb(6, 81, 110);
cursor: pointer;
border-radius: 10px;
border-bottom-right-radius: 100px;
border-top-right-radius: 100px;
}

.fsa-events a{
  text-decoration: none;
  font-size: 1.5rem;
  font: bold;
  color: whitesmoke;
  text-align: center;
  font-family: monospace;
  margin-left: 60px;
}

/* start on the home main page */
.container{
  height: 300px;
  display: block;
  padding-top: 100px;
  margin-left: 0px;
  margin-right: -11px;
  z-index: 0;
  background-color: rgb(15, 62, 116);
  scroll-behavior: smooth;
  font-size: 1.4rem;  
  font: bold;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-image: url(businesswoman.png);
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  opacity:1 ;

  

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.container h1{
  color:rgb(241, 216, 182);
  text-align: center;
  font: bold;
  font-family: monospace;
  margin-top: 30px;
  font-size: 1.9rem;}

@media (max-width:384px){
  #main-container{
    width: 474px;
    color:rgb(241, 216, 182);
    background-position: center;
    background-size:inherit;

  }
}

@media (min-width: 385px) and (max-width: 670px){
  #main-container{
    width: 680px;
    color:rgb(241, 216, 182);
    background-position: center;
    background-size:inherit;

  }
}

@media (min-width:670px){
  #main-container{
    width: 1580px;
    color:rgb(241, 216, 182);
    background-position: center;
    background-size:cover;
  }
}


p{
  margin-left: 30px;
  margin-bottom: 2px;

}



.animation{
  height: 60px;
  overflow: hidden;
  margin-left: 1rem;

}

@media(max-width: 384px){
  #top-animation{
    font-size: 1rem;

  }
}

@media(min-width: 670px){
  #top-animation{
    font-size: 2rem;

  }
}

@media(min-width:385px) and (max-width: 670px){
  #top-animation{
    font-size: 1.2rem;

  }
}


.animation >div >div{
  padding: 1.15rem 1.5rem;
  height: 2.5rem;
  margin-bottom: 2.8rem;
  display: inline-block;
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}



@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -5.62rem;}
  30% {margin-top: -5.62rem;}
  40% {margin-top: -11.24rem;}
  60% {margin-top: -11.24rem;}
  70% {margin-top: -5.62rem;}
  80% {margin-top: -5.62rem;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
}

.quick-links{
  height: 91px;
  padding: 1px;
  background-color: rgb(211, 209, 209);
  border-bottom: 0px;
  margin-top: -60px;
  z-index: 1;
  display: flex;
  border-radius: 5px;
  box-shadow: 0px 0px 70px 0 rgba(0, 1, 0, 0.15);


}

@media(min-width: 670px){
  #links{
    margin-left: 250px;
    width: fit-content;
    margin-top: -60px;
    height: auto;
    flex-grow: 1;
    display: flex;
    padding-top: -5px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 9px rgba(0, 1, 0, 0.15);

    
  }
}

@media(max-width: 384px){
  #links{
    margin-left: 47px;
    width: 393px;
    margin-top: 20px;
    height: auto;
    flex-grow: 1;
    display: inline-block;
    padding-top: -5px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 9px rgba(0, 1, 0, 0.15);

    
  }
}

@media(min-width:385px) and (max-width: 670px){
  #links{
    margin-left: 77px;
    width: 543px;
    margin-top: 20px;
    height: auto;
    flex-grow: 1;
    padding-top: -5px;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 0px 0px 10px 9px rgba(6, 46, 105, 0.15);

    
  }
}


.tariffs{
  align-items: center;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  background-color: WHITE;
  height: 90px;
  width: 165px;
  border-radius: 1px;
  align-content: center;
  transition: ease-in-out;

}


@media(min-width:670px){
  #more-link{
    height: 130px;
    width: 180px;
    margin-right: 1px;
    display: inline-block;
    border-radius: 2px;
  }
}

@media(max-width:384px){
  #more-link{
    height: 110px;
    width: 130px;
    margin: -1px;
    margin-bottom: 2.5px;
    display: inline-block;
    border-radius: 2px;
  }
}

@media(min-width:385px) and (max-width: 670px){
  #more-link{
    height: 100px;
    width: 180px;
    margin: -1px;
    margin-bottom: 2.5px;
    border-radius: 2px;
    display: inline-block;

  }
}


 
.tariffs:hover{
  background-color: rgb(3, 3, 40);
}

.tariffs img{
  aspect-ratio: 2/3;
  width: 30%;
  object-fit: contain;
  align-self: center;
  margin-left: 30px;
  display: flex;
  padding-bottom: 10px;
  padding-top: 0px;

}

@media(min-width:670px){
  #tarrif-img{
    margin-left: 60px;
    width: 25%;

  }
}

@media(max-width:384px){
  #tarrif-img{
    margin-left: 50px;
    width: 20%;

  }
}

@media(min-width:385px) and (max-width: 670px){
  #tarrif-img{
    margin-left: 70px;
    width: 20%;

  }
}


.tariffs a{
  text-decoration: none;
  font: bold;
  color: black;
  font-size: 18px;
  text-align: center;

}

.tariffs-tag2{
  margin-left: 0px;
  margin-top: 0px;
  color: rgb(0, 183, 255);
  cursor: pointer;
  font-size: medium;

}

/*end of the quick links */

.message-to-user{
  height: 250px;
  background-color: white;
  margin: 0px;
  display: flex;
  margin-right: -10px;
  margin-top: 40px;

}

@media(max-width: 384px){
  #user{
    width: 474px;
    display: block;
    height: auto;
  }
}

@media(min-width: 670px){
  #user{
    width: 1580px;
  }
}
@media(min-width:385px) and (max-width: 670px){
  #user{
    width: 680px;
    display: block;
    height: auto;
    margin-bottom: 40px;
  }
}


.going-digital-message{
  background-color: transparent;
  height: auto;
  align-self: left;
  margin-left: 0px;
}

.loan-application{
  aspect-ratio: 3/2;
  width: 50%;
  object-fit: contain;
  vertical-align:bottom;
  margin-left: 10%;
  z-index: 0;
}

.fsa-message{
  background-color: transparent;
  display: block;
  margin-right: 10px;
  text-align: left;
  width: 730px;
  padding: 10px;
}

@media(min-width:385px) and (max-width: 670px){
  #fsa-message{
    margin-left: 10px;
    width: 650px;
    margin-right: 10px;
    font-size: 1rem;

  }
}

@media(max-width:384px){
  #fsa-message{
    margin-left: 10px;
    width: 400px;
    margin-right: 10px;
    font-size: 0.6rem;

  }
}





.fsa-message h1{
  font-family: monospace;
  color:  rgb(24, 176, 237);
  font-size: 1.5rem;
  margin-left: 20px;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  font-size: bolder;
  
}



.fsa-message p{
  font-size: 1.4rem;
  font-weight: 100;
  color: rgb(3, 3, 40);
  text-transform:initial;
  margin-left: 40px;
  margin-top: 8px;
  z-index: 1;
}

.to-loans{
  margin-top: 90px;
  margin-left: 50px;
  margin-bottom: 40px;
  display: flex;
  border: 0px;
  background-color: rgb(1, 183, 255);
  height: 55px;
  width: 300px;
  border-radius: 10px;
  box-shadow: -0px -1px 5px 1px rgba(8, 29, 39, 0.15);
  cursor: pointer;

}

@media(max-width:384px){
  #to-loans{
    margin-left: 70px;
  }
}

@media(min-width:385px) and (max-width: 670px){
  #to-loans{
    margin-left: 160px;
  }
}


.to-loans:hover{
  background-color: rgb(3, 3, 40);
  width: 300px;
  color: white;
}

.to-loans a{
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 17px;
  margin-left: 15px;
  color: whitesmoke;

}

.to-loans a:hover{
  color: white;
  font-size: 1.3rem;
}

.to-loans img{
  aspect-ratio: 3/2;
  width: 35%;
  object-fit: contain;
  vertical-align: middle;
  margin-top: -6px;
}

/* our numbers don't lie */


.bank-numbers{
  height: 500px;
  background-color: rgb(255, 255, 255);
  background-image: url(bankpartners.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 15px;

}

@media(min-width: 670px){
  #bank-numbers{
    width: 1580px;
    margin-bottom: -40px;
    background-repeat: repeat;
  }
}

@media(max-width: 384px){
  #bank-numbers{
    width: 474px;
    height: 950px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media(min-width:385px) and (max-width: 670px){
  #bank-numbers{
    width: 680px;
    height: 600px;
  }
}


.fsa-numbers{
  vertical-align: top;
  text-align: center;
  background-color: rgb(3, 3, 40);
  margin-right: -10px;
  margin-bottom: 40px;
}


@media(min-width: 670px){
  #fsa-numbers{
    width: 1580px;
  }
}

@media(max-width: 384px){
  #fsa-numbers{
    width: 474px;
  }
}
@media(min-width:385px) and (max-width: 670px){
  #fsa-numbers{
    width: 680px;
    margin-left: 0px;

  }
}

.fsa-numbers h1{
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 10px;
  color: rgba(167, 226, 253, 0.863);
}

.fsa-numbers p{
  text-transform: uppercase;
  color: rgba(146, 217, 248, 0.863);
  padding: 5px;
}

.real-numbers{
  background-color: transparent;
  margin-left: 0px;
  align-content: center;
  padding: 20px;

}


@media(min-width:670px){
  #real-numbers{
    width: auto;
    height: auto;
    margin-top: 10px;
    display: flex;
    margin-bottom: 0px;
  }
}

@media(max-width:384px){
  #real-numbers{
    width: auto;
    height: auto;
    margin-top: 0px;
    display: block;

    margin-bottom: 0px;
  }
}

@media(min-width:385px) and (max-width: 670px){
  #real-numbers{
    width: auto;
    height: auto;
    margin-top: -30px;
    display: inline-block;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0px;

  }
}

@media(min-width:670px){
  #real-numbers-on{
    width: 400px;
    height: 250px;
    margin-left: 10px;
    border-radius: 0px;
    margin-top: -10px;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);

  }
}


@media(max-width:384px){
  #real-numbers-on{
    width: 300px;
    height: 200px;
    margin-left: 70px;
    border-radius: 0px;
    margin-top: -10px;
  }
}

@media(min-width:385px) and (max-width: 670px){
  #real-numbers-on{
    width: 300px;
    height: 200px;
    margin-left: 20px;
    border-radius: 0px;
    margin-top: 30px;
    border-radius: 10px;
    display: inline-block;
  }
}

@media(max-width: 384px){
  #real-numbers-on-img{
    width: 20%;
  }
}

@media(min-width:385px) and (max-width: 670px){
  #real-numbers-on-img{
    width: 25%;
  }
}

.customers{
  height: 190px;
  width:350px;
  margin: 10px;
  background-color: rgb(3, 3, 40);
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.customers:hover{
  transition: 0.5s;
  box-shadow: 0px 0px 5px 0px black;


}

.customers img{
  aspect-ratio: 3/2;
  width: 30%;
  object-fit: contain;
}

.customers p{
  text-transform: uppercase;
  font-size: bold;
  font-family: monospace;
  font-size: 1.5rem;
  color:rgb(255, 255, 255);
  font-weight: 900;
}

.customers h1{
  color: rgba(255, 255, 255, 0.836);
}

.branches{
  height: 190px;
  width:350px;
  margin: 10px;
  box-shadow: 0px 0px 15px 0px rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.branches img{
  aspect-ratio: 3/2;
  width: 30%;
  object-fit: contain;
}

.branches p{
  text-transform: uppercase;
  font-size: bold;
  font-family: monospace;
  font-size: 1.5rem;
  color:rgb(13, 13, 112);
  font-weight: 900;
}

.branches h1{
  color: rgba(36, 66, 122, 0.836);
}

.years{
  height: 190px;
  width:350px;
  margin: 10px;
  box-shadow: 0px 0px 15px 0px rgb(13, 63, 139);
  background-color: rgb(12, 178, 243);
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.years img{
  aspect-ratio: 3/2;
  width: 30%;
  object-fit: contain;
}

.years p{
  text-transform: uppercase;
  font-size: bold;
  font-family: monospace;
  font-size: 1.5rem;
  color:rgb(4, 37, 65);
  font-weight: 900;
}

.years h1{
  color: rgba(5, 52, 90, 0.836);
}


.operating-hours{
  height: fit-content;
  width: 900px;
  background-color: transparent;
  padding: 40px;
  text-align: left;
  margin-left: 200px;
  margin-top: 50px;
  display: flex;
}



@media (max-width: 384px){
  #operating-hours{
    display: inline-block;
    width: auto;
    margin-left: 20px;
    margin-top: 0px;
    padding: 0px;
    margin-bottom: 10px;
  }
}

@media (min-width: 670px){
  #operating-hours{
    display: inline-flex;
    width: auto;
    margin-left: 40px;
    margin-top: 0px;
    padding: 10px;
    margin-bottom: 0px;
  }
}


@media(min-width:385px) and (max-width: 670px){
  #operating-hours{
    display: inline-block;
    width: auto;
    margin-left: 10px;
    margin-top: 0px;
    padding: 10px;
    margin-bottom: 10px;
  }
}




.kikumini-branch{
  height: fit-content;
  width: 400px;
  background-color: rgb(252, 248, 248);
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 12px 0px rgb(19, 72, 116);
}
.wote-branch{
  height: fit-content;
  width: 400px;
  background-color: rgb(252, 248, 248);
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 12px 0px rgb(19, 72, 116);
}

@media(max-width:384px){
  #branch-one{
    width: 400px;
    margin-top: 30px;
    border: 0px;
    margin-left: 0px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px  rgb(19, 72, 116);
  
  }
}

@media(min-width:670px){
  #branch-one{
    width: 650px;
    height: 400px;
    margin-top: 30px;
    border: 0px;
    margin-left: 8%;
    background-color: rgb(255, 247, 247);
    box-shadow: 0px 0px 10px rgb(19, 72, 116);
  
  }
}

@media(min-width:385px) and (max-width: 670px){
  #branch-one{
    width: 580px;
    margin-top: 40px;
    border: 0px;
    margin-left: 10px;
    box-shadow: 0px 10px 10px 0px rgb(141, 162, 180);
  
  }
}


@media(min-width:670px){
  #branch-two{
    width: 650px;
    height: 400px;
    margin-top: 30px;
    border: 0px;
    margin-left: 13%;
    background-color: rgb(255, 247, 247);
    box-shadow: 0px 0px 10px rgb(19, 72, 116);
  }
}

@media(max-width:384px){
  #branch-two{
    width: 360px;
    margin-left: 20px;
    margin-top: -30px;
    border: 0px;
    font-size: 1.0rem;
    border-radius: 0px;
    box-shadow: 0px 0px 10px 0px rgb(141, 162, 180);
  }
}

@media(min-width:385px) and (max-width: 670px){
  #branch-two{
    width: 580px;
    height: auto;
    margin-left: 10px;
    margin-top: 10px;
    border: 0px;
    border-radius: 5px;
    font-size: 1.0rem;
    box-shadow: 0px 10px 10px 0px rgb(141, 162, 180);
  }
}

.branch-name{
  text-align: left;
  color: rgb(5, 29, 107);
  font-size: 0.9rem;
}

.time h4{
  text-align: left;
  text-transform: uppercase;
  color: rgb(5, 29, 107);
  text-decoration: underline;
}

.footer{
  height: auto;
  width: 10px;
  display: block;

}

@media(max-width: 384px){
  #footer{
    width: 474px;
    margin-top: 20px;
    height: 550px;
    background-color: rgb(0, 183, 255);
    padding-left: 0px;
    display: block;
    padding-top: 10px;}
  }

@media(min-width: 670px){
  #footer{
    width: 1580px;
    margin-top: 20px;
  }
}

@media(min-width:385px) and (max-width: 670px){
  #footer{
    width: 680px;
    margin-top: 20px;
    height: 350px;
    background-color: rgb(0, 183, 255);
    display: block;
    padding-left: 0px;
    padding-top: 10px;
  }
}

@media(min-width:385px) and (max-width: 670px){
  #disclamer{
    width: 680px;
    margin-top: 0px;
    height: 100px;
    background-color: rgb(3, 3, 40);
    display: block;
    padding-left: 0px;
    padding-top: 10px;
  }
}

@media(min-width: 670px){
  #disclamer{
    width: 1580px;
    margin-top: 0px;
    height: 100px;
    background-color: rgb(3, 3, 40);
    display: block;
    padding-left: 0px;
    padding-top: 10px;
  }
}

@media(max-width:384px) {
  #disclamer{
    width: 474px;
    margin-top: 0px;
    height: 100px;
    background-color: rgb(3, 3, 40);
    display: block;
    padding-left: 0px;
    padding-top: 10px;
  }
}







.footer-info{
  height: auto;
  background-color: rgb(0, 183, 255);
  display: flex;
  padding-left: 50px;
  padding-top: 10px;
}

@media(max-width:384px){
  #footer-info{
    display: block;
    width: auto;
  }
}


.for-you{
  align-content: left;
  padding: 20px;
  margin-left: 400px;
  background-color: transparent;
  display: block;
}

@media(max-width: 384px){
  #for-you{
    margin-left: 70px;
  }
}
@media(min-width:385px) and (max-width: 670px){
  #for-you{
    margin-left: 10px;
  }
}


.for-you h2{
  font-size: 1.6rem;
  color: whitesmoke;
}



.for-your-business{
  align-content: right;
  margin-right: 0px;
  margin-left: 200px;
  padding: 0px;
  padding-top: 20px;
  background-color: transparent;
  display: block;
}

@media(min-width:385px) and (max-width: 670px){
  #for-business{
    margin-left:80px;

  }
}

@media(max-width:384px){
  #for-business{
    margin-left: 80px;
  }
}

.for-your-business h2{
  font-size: 1.6rem;
  color: whitesmoke;
}

.task{
  align-content: left;
  font-size: 1.2rem;
  padding: 10px;
  font-weight: 700;
}

.disclamer{
  background-color: rgb(3, 3, 40);
  margin-top: -30px;
  display: block;
  width: 1539px;
  height: 100px;
  padding-top: 40px;
  z-index: 1;
  position: absolute;

}

.disclamer p{
  text-align: center;
  margin-left: 0px;
  color: whitesmoke;
}


/* paybill page starts here */

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}


.main-content{
  margin-top: 0px;
  width: 1580px;
  height: 600px;
  z-index: 1;
  background-color: rgb(6, 51, 91);
  padding-top: 90px;
  margin-bottom: 0px;
}



@media (max-width: 384px){
  #main-content{
    width: 474px;
    height: 1700px;


  
  }
}

@media(min-width:385px) and (max-width:670px){
  #main-content{
    width: 680px;
    height: 950px;


  }
}

@media(min-width:670px){
  #main-content{
    width: 1580px;
    height: 1050px;
  }
}

@media (max-width: 384px){
  #step-one{
    width: 474px;
  }
}

.steps{
  display: block;
  background-color: whitesmoke;
  height: 200px;
  margin-top: 200px;
  z-index: 0;
  position: fixed;


}



@media(max-width:384px){
  #steps{
    height: 100px;
    display: block;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 474px;

  }
}

@media(min-width:385px) and (max-width:670px){
  #steps{
    height: 50px;
    display: block;
    margin-top: 0px;
    width: 680px;
    z-index: 0;
    position: absolute;
  }
}
@media(min-width:670px){
  #steps{
    height: 250px;
    display: block;
    margin-top:200px;
    width: 1580px;
    z-index: 0;
    position: relative;
  }
}

.topic{
  background-color: whitesmoke;
  height: 500px;
  width: 900px;
  margin-top: -230px;
  display: block;
  position: absolute;
  z-index: 0;
  margin-left: 20px;
  border-radius: 5px;
  box-shadow: 0px 10px 10px 0px rgb(0, 0, 0);


}

@media(min-width :670px){
  #topic{
    width: 400px;
    height:max-content;
    padding: 10px;
    margin-top: -200px;
    position: absolute;
    font-size: 1.3rem;
  }
}

@media(max-width : 384px){
  #topic{
    height: 700px;
    width: 455px;
    margin-left: 10px;
    border-radius: 10px;
    margin-top: 860px;
    z-index: 2;
    box-shadow: 5px 5px 5px 1px rgb(0, 0, 0);

  }
}

@media(min-width:385px) and (max-width:670px){
  #topic{
    display: block;
    margin-top: 100px;
    margin-left: 10px;
    width: 300px;
    margin-left: 1px;
    z-index: 1;
    height: 550px;
    margin-bottom: 70px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;




  }
}

.topic p{
  text-transform: uppercase;
  text-decoration: dotted;
  font-size: 1.rem;
  font-weight: 700;
  margin-left: 10px;
}
.topic ol{
  font-size: 0.9rem;
  margin: 2px;
}

.screen{
  aspect-ratio: 3/2;
  width: 900px;

  object-fit: contain;

}




@media(max-width:384px){
  #phonescreen{
    width: 350%;
    margin-left: 300px;
    z-index: 1;
    position: fixed;
    margin-top: -250px;

  }
}

@media(min-width:670px){
  #phonescreen{
    margin-left: 200px;
    width: 90%;
    margin-top: -350px;
    margin-bottom: 0px;
    z-index: 0;

  }
}



 
.steps-images-details{
  height: 450px;
  width: 217.5px;
  background-color: rgb(255, 255, 255);
  margin-top: -18px;
  margin-bottom: -560px;
  margin-left: 1184.9px;
  border-radius: 30px;
  position:absolute;
}

@media(max-width:384px){
  #step-images{
    margin-left: -700px;
    display: block;
    margin-top: 60px;
    
  }
}





@media(min-width:670px){
  #steps-images-details{
    background-color:wheat;
    margin-top: -514px;
    height: 460px;
    margin-left: 175px;
    width: 213px;
    position: fixed;
    border-radius: 30px;
  }
}

@media(max-width:384px){
  #steps-images-details{
    width: 180px;
    height: 390px;
    background-color:wheat;
    margin-top: -495px;
    border-radius: 30px;
    margin-left: 845px;
    z-index: 1;
    position: fixed;

    
  }
}

@media(min-width:385px) and (max-width:670px){
  #steps-images-details{
    width: 253px;
    height: 540px;
    margin-left: 205px;
    z-index: 1;
    background-color:rgba(245, 222, 179, 0.973);
    margin-top: -605px;
    border-radius: 30px;

  }
}


.step-one{
  display: block;
  background-color: white;
  border-radius: 20px;
  margin-top: -95px;
}
@media(max-width:384px){
  #step-one{
    width: 180px;
    height: 380px;
    background-color: transparent;
    margin-top: -70px;
    border-radius: 30px;
    margin-left: 0px;
    font-size: 0.8rem;

    
  }
}

@media(min-width:385px) and (max-width:670px){
  #step-one{
    width: 220px;
    height: 490px;
    margin-left: 10px;
    margin-top: -70px;
    border-radius: 30px;
    background-color:wheat;
    z-index: 0;

  }
}

@media(min-width:670px){
  #step-one{
    height: 575px;
    margin-top: -70px;
    border-radius: 30px;
    background-color: transparent;

  }
}

.step-number{
  border: 2px solid rgb(0, 183, 255);
  border-radius: 50px;
  background-color: rgb(0, 183, 255);
  margin-left: -50px;
  margin-top: -80px;
  height: 100px;
  width: 100px;
  z-index: 0;
  font-size: 0.9rem;
  position: relative;
  animation: shake .9s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@media(max-width:384px){
  #step-number{
    margin-left: 200px;
    border-bottom-left-radius: 0px;
    margin-top: -40px;
    transform: rotate(5deg);




  }
}


@media(min-width:670px){
  #step-number{
    margin-left: 230px;
    border-bottom-left-radius: 0px;
    margin-top: -40px;
    transform: rotate(5deg);
  }
}




@media(min-width:385px) and (max-width:670px){
  #step-number{
    margin-left: 270px;
    border-bottom-left-radius: 0px;
    margin-top: -40px;
    transform: rotate(5deg);



  }
}


.step-number h1{
  text-align: center;
  color: whitesmoke;

}

.safaricom{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}

.safaricom1{  
  color: green;
  margin-left: 2px;
  font-family: Arial, Helvetica, sans-serif;


}

.safaricom-plus{
  color: rgb(0, 0, 0);
  margin-left: 10px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.important{
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1px;
  height: fit-content;
  display: flex;
}
 .fsa-paybill-no{
  text-align: center;
  width: 90%;
  border-bottom: 2px solid black;
  margin-bottom: 0px;
  margin-left: 20px;
 }

 .fsa-paybill-no h2{
  padding: 0px;
  margin: 0px;
  color:rgb(0, 183, 255) ;
 }
 
 

.directions{
  height: auto;
  margin-left: 10px;
  text-align: center;
}

.enter-business-no{
  text-align: center;
}

.circle{
  border: 5px solid green;
  background-color: green;
  border-radius: 100px;
  height: 100px;
  width: 100px;
  margin-left: 35%;
  margin-top: 10%;
  justify-content: center;
}

@media(min-width:385px) and (max-width:670px){
  #circle{
    height: 100px;
    width: 100px;
    margin-left: 25%;
    margin-top: -170%;
  }
}
@media(min-width: 670px){
  #circle{
    height: 100px;
    width: 100px;
    margin-left: 25%;
    margin-top: -170%;
  }
}

@media(max-width:384px){
  #circle{
    height: 90px;
    width: 90px;
    margin-left: 25%;
    margin-top: -40%;
  }
}




.tick{
  height: 50px;
  width: 10px;
  border: 10px solid rgb(255, 255, 255);
  margin-left: 70px;
  margin-top: 30px;
  transform: rotate(45deg);
  border-top: 0px;
  border-left: 0px;
  border-bottom-right-radius: 5px;
}

.success-message{
  font-size:1rem;
  text-align: center;
  justify-content: space-between;
}

@media(max-width:384px){
  #success-msg{
    font-size:1rem;
    text-align: center;
    justify-content: space-between;
    margin-top: 400px;

  }
}

.success-message h2{
  margin-bottom: 200px;
  color: green;
}

@media(min-width:385px) and (max-width:670px){
  #tick{
    border-top: 0px;
    border-left: 0px;
    height: 50px;
    width: 15px;
    margin-left: 40px;
    margin-top: 15px;
    border-radius: 1px;
    border-bottom-right-radius: 5px;

  }
}
@media(min-width:670px){
  #tick{
    border-top: 0px;
    border-left: 0px;
    height: 50px;
    width: 15px;
    margin-left: 40px;
    margin-top: 15px;
    border-radius: 1px;
    border-bottom-right-radius: 5px;

  }
}

@media(max-width:384px){
  #tick{
    border-top: 0px;
    border-left: 0px;
    height: 50px;
    width: 15px;
    margin-left: 40px;
    margin-top: 15px;
    border-radius: 1px;
    border-bottom-right-radius: 5px;

  }
}






.arrow {
  width: 10px;
  height: 10px;
  border: 5px solid;
  border-color: rgb(0, 183, 255) transparent transparent rgb(0, 183, 255);
  transform: rotate(-45deg);
}


.arrowSliding {
  position: absolute;
  -webkit-animation: slide 1s linear infinite; 
          animation: slide 2s linear infinite;
}

.delay1 {
  -webkit-animation-delay: 0s; 
    animation-delay: 1s;
}
.delay2 {
  -webkit-animation-delay: 1s; 
    animation-delay: 2s;
}
.delay3 {
  -webkit-animation-delay: 2s; 
    animation-delay: 3s;
}

@-webkit-keyframes slide {
    0% { opacity:0; transform: translateX(5vw); }	
   20% { opacity:1; transform: translateX(3vw); }	
   80% { opacity:1; transform: translateX(-3vw); }	
  100% { opacity:0; transform: translateX(-5vw); }	
}
@keyframes slide {
    0% { opacity:0; transform: translateX(5vw); }	
   20% { opacity:1; transform: translateX(3vw); }	
   80% { opacity:1; transform: translateX(-3vw); }	
  100% { opacity:0; transform: translateX(-5vw); }	
}

.candlads{
  width: 300px;
  height: 800px;
  background-color: rgb(14, 147, 209);
  box-shadow: 5px 5px 5px 5px white;
  margin-left: 80%;
  margin-bottom: 0px;
  border-radius: 10px;
  position: fixed;
  z-index: 2;
  transition: ease-in-out 0.5s;
  display:none;

}

.candlads img{
  width: 100%;
  float: center;
  margin-left: 0%;
  z-index: 0;
  border-radius: 5px;
  background-color: transparent;
  background-attachment: fixed;

}



@media(max-width: 384px){
  #candlads{
    width: 470px;
    height: 900px;
    margin-left: 1%;
    margin-right: -3%;
    margin-top: -60%;
    position: -webkit-sticky;    z-index: 1;

  }
}
@media (min-width: 385px)and (max-width: 670px){
  #candlads{
    width: 660px;
    height: 900px;
    background-color: rgb(3, 3, 40);
    margin-left: 1%;
    margin-right: -1%;
    margin-top: -30%;
    margin-bottom: 400px;
    border-radius: 10px;
    position: -webkit-sticky;    z-index: 1;

  }
}

@media (min-width:670px){
  #candlads{
    width: 560px;
    height: 500px;
    position: -webkit-sticky; z-index: 1;
    margin-top: -20%;
    z-index: 3;



  }
}

#overlay{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.451);
  z-index: -1;
  transition: ease-in-out 0.5s;
}

.close-ad-icon{
  font-size: 4rem;
  margin-left: 500px;
  margin-top: -20px;
  padding: 10px;
  background-color: transparent;
  border-radius: 100px;
  cursor: pointer;
  color: rgb(255, 255, 255);

}

.close-ad-icon:hover{
  color: red;
  cursor: pointer;
  font-size: 3rem;
}

@media(min-width:385px) and (max-width:670px){
  #close-ad-bar{
    margin-left: 600px;

  }
}

@media(max-width:384px){
  #close-ad-bar{
    margin-left: 400px;
    font-size: 5rem;

  }
}

.open-ad-icon{
  font-size: 3.5rem;
  font-size: 3.5rem;
  float: right;
  margin-top: -25px;
    background-color: rgb(3, 3, 40);
  border-radius: 100px;
  cursor: pointer;
  display: none;

}/* New Sticker */
.new-sticker {
  margin: 0;
  position: relative;
  display: inline-block;
  z-index: 5;
}

@media(min-width:385px) and (max-width:670px){
  #new-sticker{
    margin-top: -120px;
    margin-left: 140px;

  }
}
@media(max-width:384px){
  #new-sticker{
    margin-top: -100px;
    margin-left: 90px;

  }
}
.new {
  background-color: orange;
  color: #0b63b4;
  font: .9em/1 'Archivo Narrow', sans-serif;
  letter-spacing: .09em;
  position: absolute;
  transform: rotate(-15deg);
  margin-left: 125px;
  margin-top: -105px;
  font-weight: 700;
  border-radius: 10px;
}

@media(min-width:385px) and (max-width:670px){
  #new{
    background-color: orange;
    color: #0b63b4;
    margin-left: 145px;
    margin-top: -110px;
    font: .9em/2 'Archivo Narrow', sans-serif;
    font-weight: 700;

  }
}
@media(max-width:384px){
  #new{
    background-color: orange;
    color: #0b63b4;
    margin-left: 95px;
    margin-top: -85px;
    font: .8em/1 'Archivo Narrow', sans-serif;
    font-weight: 700;

  }
}


.sticker {
  height: 2.9em;
  width: 2.9em;
  background: rgb(255, 166, 0);
  position: absolute;
  margin-left: 120px;
  margin-top: -120px;
  animation: beat .15s infinite alternate;
  transform-origin: center;
}

@keyframes beat{
  to{transform:scale(1.1);}
}

.sticker:before {
  height: 2.9em;
  width: 2.9em;
  background: orange;
  content:"";
  position: absolute;
  /* Rotate */
  transform: rotate(30deg);
}
.sticker:after {
  height: 2.9em;
  width: 2.9em;
  background: orange;
  content:"";
  position: absolute;
  /* Rotate */
  transform: rotate(-30deg);
}


/* HOW TO SAVE PAGE*/

.savings-accounts{
  height: auto;
  background-color: rgb(243, 234, 234);
  width: 100%;
  text-align: left;
  padding-top: 50px;
  padding-bottom: 50px;
}



.savings-accounts h2{
  font-size: 42px;
  font: quicksand;
  margin-left:150px;
  color: rgb(6, 44, 59);
  padding-bottom: 0px;
  margin-bottom: 10px;
}

.about-savings-account{
  border-top: 1px solid rgba(9, 7, 77, 0.173);
  margin-left: 0px;
  padding-right: 50px;
} 

@media(max-width:384px){
  #savings-accounts p{
    left: 0;
    text-align: left;
    margin-left: 30px;
  }

} 
@media(min-width:385px) and (max-width:670px){
  #savings-accounts p{
    left: 0;
    text-align: left;
    margin-left: 30px;
  }

} 

.about-savings-account p{
  font-size: 20px;
  font: quicksand;
  color: #020e19;
  margin-left: 150px;
  font-weight: 10;
}

.benefits{
  display: block;
  background-color: white;
  height: 400px;
  padding: 20px;
  overflow: scroll;
}
 .benefits h2{
  font-size: 42px;
  font: quicksand;
  margin-left:130px;
  color: rgb(6, 44, 59);
  padding-bottom: 0px;
  margin-bottom: 10px;
  padding-right: 20px;


 }

 .list{
  display: flex;
  margin-bottom: 10px;
  margin-top: 40px;
 }

 @media(max-width:384px){
  #lists{
    overflow:scroll;
    display: block;
  }
 }

 @media(min-width:385px) and (max-width:670px){
  #lists{
    overflow:scroll;
    display: block;
  }
 }

.benefit{
  height: 200px;
  width: 250px;
  border: 1px solid rgba(255, 255, 255, 0.319);
  border-radius: 20px;
  background-color: whitesmoke;
  cursor: pointer;
  margin-left: 50px;
  box-shadow: 0px 10px 20px 0 rgba(0, 1, 0, 0.25);
}

@media(max-width:384px){
  #benefit{
    width: 95%;
    position: relative;
    height: 190px;
    margin-left: 10px;
    margin-bottom: 20px;
  }

}


@media(min-width:385px) and (max-width:670px){
  #benefit{
    width: 600px;
    position: relative;
    height: 190px;
    margin-left: 10px;
    margin-bottom: 20px;
  }

}

.list h3{
  text-decoration: underline;
  font-size: 18px;
  margin-top: 10px;
  margin-left: 30px;
  text-align:left;
  text-transform: capitalize;
  font: quicksand;
  color: rgb(4, 6, 126);

}

.text{
  padding: 3px;
  font: quicksand;
  text-decoration: none;
  text-align: left;
  font-size: 18px;
  color: rgb(17, 8, 90);
  margin-right: 10px;


}


.benefit a{
  text-align: center;
  text-decoration: none;
  color: rgb(31, 8, 116);
  text-transform: uppercase;
  font: quicksand;
  font-weight: 900;
  margin-left: 45px;
  margin-top: 1px;
  background-color: wheat;
  border-radius: 10px;
  padding:10px ;
  padding-left: 10px;
  padding-right: 10px;
  animation: beat .40s infinite alternate;
  transform-origin: center;
  position: absolute;
}

@keyframes beat{
  to{transform:scale(1.1);}
}




