

html {
    font-family: sans-serif;
    background-color: #f1f5f7;
    line-height: 1.15;
    margin: -8px;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.top_navigation{
    margin-top: 0px;
    display: flex;
    height:100px;
    width: 100%;
    border: 1px solid rgb(0, 183, 255);
    border-radius: 0px;
    background-color: rgb(0, 183, 255);
    align-items: center;
    margin-bottom: 0px;
    position: fixed;
    z-index: 1;
    box-shadow: -1px -1px 10px 1px black;

}

.bank_logo{
    display: block;
    height: auto;
    width: auto;
    margin-left: 20px;
}

.bank_logo a{
  text-decoration: none;
  color: black;
}

@media (max-width: 384px){
  #brand{
    margin-left:80px;
    display: block;
  }
}

@media(min-width:385px) and (max-width: 670px){
  #brand{
    margin-left: 170px;
    display: block;
  }
}




.fsa_logo{
  object-fit: contain;
  aspect-ratio: 3/2;
  width: 50%;
  margin-left: 35px;
  margin-bottom: -10px;
  margin-top: 10px;



}
h3{
    margin-left: 11px;
    margin-top: 0px;
    font-size: 16px;
    cursor: pointer;
}


.links-top-nav{
  right: 0px;
  display: flex;
  margin-top: 0px;
  margin-left: 10%;
  height: 50px;
  width: max-content;
  background-color: rgb(0, 183, 255);
  justify-content: space-between;
  border-radius: 0PX;

}

.links{
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.links:hover{
  background-color: transparent;
  color:bisque;
}

.links a{
  text-decoration: none;
  font-weight: 400;
  color: rgb(255, 255, 255);
  font-size: 16px;
  scroll-behavior: smooth;
  font-family: 'DINPro-Regular', sans-serif;
  text-transform: capitalize;
}

.links a:hover{
  color: #033052;
}

@media(max-width:670px){
  #links-top-nav{
    display: none;
  }
}

#loancal{
  width: 97%;
  height: 650px;
  background-color: white;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
  border-radius: 10px;
  padding: 10px;
  display: block;
  position: static;
}


@media(min-width:385px) and (max-width:670px){
  #loancal{
    display: block;
    height: max-content;
    width: 620px;
    margin-left: 20px;
    border-radius: 0px;
    margin-right: 20px;
    background-color: transparent;
    margin-bottom: 20px;

  }
}

@media(min-width:670px){
  #loancal{
    display: block;
    padding-right: 10px;
    width: 1450px;
    height: max-content;

  }
}

@media(max-width:384px){
  #loancal{
    display: block;
    height: max-content;
    width: 460px;
    margin-left: 0px;
    background-color: transparent;
    padding-right: 0px;
    margin-bottom: 20px;


  }
}


#loancal p{
  text-transform: capitalize;
  font-weight: 600;
  color: #033052;
  font-size: 20px;

}

@media (max-width: 384px){
  #loancal p{
    color: rgb(3, 42, 87);
    font-weight: 900;
    font-size: 16px;
  }
  }

#loancal h1{
  color: rgb(3, 42, 87);
  font-weight: 900;
  text-align: center;
}

@media (max-width: 384px){
#loancal h1{
  color: rgb(3, 42, 87);
  font-weight: 900;
  text-align: center;
  font-size: 20px;
}
}


.input{
  margin-left: 20px;
  display: flex;
  height: 200px;
  margin-right: 0px;
  border-top-right-radius: 5px;
  width: 97%;
  background-color: whitesmoke;
  box-shadow: 0px 0px 40px 0px rgb(255, 255, 255);
  border-radius: 10px;
}
.user-input{
  display: block;
  margin-right: 10px;
}

@media(min-width:385px) and (max-width:670px){
  #input{
    width: 97%;
    margin-left: 0px;
    display: block;
    border-radius: 5px;
    height: 880px;
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    background-color: white;
    border: 0px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;

  }
}

@media(max-width:384px){
  #input{
    width: 95%;
    border-radius: 5px;
    height: 1000px;
    padding-top: 10px;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;

  }
}

.input p{
  font-size: 22px;
  font-weight: 900;
  color: #e1100c;
  text-align: left;

}

.input h2{
  font-size: 16px;
  font-weight: 600;
  color: #e1100c;
  text-align: center;
  margin-left: 20px;

}
input{
  width: 490px;
  margin-left: 20px;
  height: 50px;
  border: 1px solid ;
  border-radius: 1px;
  padding: 5px;
  font-size: 28px;
  font-weight: 900;
  color: #0b63b4;
}

@media (min-width:385px) and (max-width:670px){
  #amount, #months{
    width: 550px;
    padding-left: 10px;
    height: 70px;
  }
}

@media (max-width:384px){
  #amount, #months{
    width: 380px;
    padding-left: 10px;
    height: 60px;
  }
}

#calculate{
  padding: 10px;
  font-family: "JetBrains Mono",monospace;
  width: 300px;
  height: 60px;
  margin-left: 20px;
  margin-top: 65px;
  border: 0px;
  background-color: #050c4b;
  font-size: 28px;
  font-weight: 600;
  cursor: pointer;
  color: rgb(0, 183, 255);
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;

}


@media (min-width:385px) and (max-width:670px){
  #calculate{
    width: 570px;
    padding-left: 10px;
    height: 70px;
    margin-top: 30px;
    box-shadow: 0px 0px 10px 0px rgb(0, 3, 3);

  }
}

@media(max-width:384px){
  #calculate{
    width: 400px;
    padding-left: 10px;
    height: 70px;
    margin-top: 30px;
    box-shadow: 0px 0px 5px 0px rgb(0, 255, 255);

  }
}


#calculate:hover{
  background-color: rgb(0, 183, 255);
  color: #050c4b;


}


#calculate:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

#calculate:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

#calculate:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}



.numbers{
  display: block;
  background-color: rgba(9, 161, 255, 0.616);
  width: 600px;
  margin-left: 400px;
  margin-top: 10px;
  height: 290px;
  flex-wrap: wrap;
  position: relative;
  z-index: 0;
  text-align: left;
  border-radius: 20px;
  padding: 20px;
}

.numbers h4{
  color: #000000;
  text-align: left;
  font-size: 16px;
  bottom: 0;
  font-weight: 200;
  position: relative;
}

.numbers h2{
  color: #000000;
  text-align: left;
  font-size: 28px;
  bottom: 0;
  font-weight: 900;
}

@media(min-width:385px) and (max-width:670px){
  #numbers{
    margin-left: 9px;
    width: 91%;
    margin-top: -460px;
    padding: 20px;
    box-shadow: none;
    border-top: 2px solid #050c4b;
    border-bottom-right-radius: 1px ;
    border-bottom-left-radius: 1px ;
    border-radius: 5px;
    border: 0px;
    height: 400px;


  }
}
@media(min-width:670px){
  #numbers{
    height: max-content;
    border-radius: 0px;


  }
}


@media(max-width:384px){
  #numbers{
    width: 85%;
    margin-top: -580px;
    height: 500px;
    padding: 20px;
    margin-left: 13px;
    box-shadow: none;
    border-radius: 0px;


  }
}

.darshboard{
    margin-left: 0%;
    width: 450px;
    height:100%;
    align-content: left;
    background-color: rgb(246, 252, 255);
    box-shadow: 2px 1px 9px -3px rgb(0, 0, 0);
    position: fixed;
    transition: ease-in-out 0.5s;
    display: none;
    z-index: 1;
    overflow: scroll;
}

#overlay-sidebar{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.451);
  z-index: 1;
  transition: ease-in-out 0.5s;
}

.top-sidebar{
  background-color: rgb(0, 183, 255);
  height: 100px;
}
.top-sidebar img{
  width: 20%;
  aspect-ratio: 3/2;
  object-fit: contain;
  margin-top: -40px;
  margin-left: 180px;

}

.top-sidebar h2 {
  font-weight: 600;
  margin-left: 120px;
  margin-top: -10px;
  font-size: 20px;

}


.disclamer-sidebar{
  background-color: rgb(3, 3, 40);
  display: block;
  margin-top: 50px;
  width: 450px;
  height: 100px;
  padding-top: 40px;
  bottom: 0px;
  position: fixed;



}

.disclamer-sidebar p{
  text-align: center;
  margin-left: 0px;
  color: whitesmoke;
}

.open-menu-icon{
  font-size: 30px;
  margin: 10px 20px;
  cursor: pointer;
  font-weight: 600;
  height: 50px;
}

.open-menu-icon:hover{
  color: rgb(255, 255, 255);
}

@media (min-width : 670px){
  #mobile-menu{
    display: none;
  }
}


.close-menu-icon{
  font-size: 50px;
  margin-left: 89%;
  cursor: pointer;
  color: red;
}

@media(min-width : 1000px){
  #close-menu-bar{
    display: block;
  }
}

.close-menu-icon:hover{
  font-size: 45px;
  color: white;
  transition: 0.5s;
}

.what-wedo{
  width: auto;
  height: auto;
  overflow: scroll;
  justify-content: space-around;

}

.home{
  height: 40px;
  width: auto;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  padding: 5px;

}
.home:hover{
  background-color: rgb(0, 169, 236);
  cursor: pointer;
}

.fsa-home{
  height: auto;
  width: auto;
}

.fsa-home a{
  text-decoration: none;
  font-size: 1.3rem;
  font-family: quicksand;
  color: rgb(4, 12, 61);
  text-align: center;
  font-family: monospace;
  margin-left: 10px;
  font-weight: 400;
}

.services{
  height: 40px;
  width: auto;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  padding: 5px;
}
.fsa-services{
  height:auto;
  width: 100%;
  margin-bottom: 0px;
  justify-content: center;
  padding: 5px;
}
.services:hover{
  background-color: rgb(0, 169, 236);
  cursor: pointer;


}


.fsa-services a{
  text-decoration: none;
  font-size: 1.3rem;
  font-family: quicksand;
  color: rgb(4, 12, 61);
  text-align: center;
  margin-left: 10px;
  font-weight: 400;
  
}

.contacts-us{
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  padding: 5px;
  
}
.contacts-us:hover{
  background-color: rgb(0, 169, 236);
  cursor: pointer;


}

.fsa-contacts{
  width: auto;
  height: auto;
  padding: 5px;

}


.fsa-contacts a{
  text-decoration: none;
  font-size: 1.3rem;
  font-family: quicksand;
  text-align: center;
  margin-left: 10px;
  font-weight: 400;
  color: rgb(4, 12, 61);

}

.payments{
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  padding: 5px;
}
.payments:hover{
  background-color: rgb(0, 169, 236);
  cursor: pointer;

}

.fsa-payments{
  width: auto;
  height: auto;
  padding: 5px;
}


.fsa-payments a{
  text-decoration: none;
  font-size: 1.3rem;
  font-family: quicksand;
  color: rgb(4, 12, 61);
  text-align: center;
  margin-left: 10px;
  font-weight:400 ;
}

.staff{
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  padding: 5px;
}

.staff:hover{
  background-color: rgb(0, 169, 236);
  cursor: pointer;
}
.fsa-team{
  width: auto;
  height: auto;
  padding: 5px;
}


.fsa-team a{
  text-decoration: none;
  font-size: 1.3rem;
  font-family: quicksand;
  color: rgb(4, 12, 61);
  text-align: center;
  margin-left: 10px;
  font-weight: 400;
}

.partners{
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    padding: 5px;
  }

.fsa-partners{
  width: auto;
  height: auto;
  padding: 5px;
}

.partners:hover{
  background-color: rgb(0, 169, 236);
  cursor: pointer;
}


.fsa-partners a{
  text-decoration: none;
  font-size: 1.3rem;
  font-family: quicksand;
  color: rgb(4, 12, 61);
  text-align: center;
  margin-left: 10px;
  font-weight: 400;
}

.events{
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  padding: 5px;
}

.fsa-events{
width: auto;
height: auto;
padding: 5px;
}

.events:hover{
  background-color: rgb(0, 169, 236);
cursor: pointer;

}

.fsa-events a{
  text-decoration: none;
  font-size: 1.3rem;
  font-family: quicksand;
  color: rgb(4, 12, 61);
  text-align: center;
  margin-left: 10px;
  font-weight: 400;
}

.contact-us{
  bottom: 140px;
  position: fixed;
  width: 450px;
  font-family: quicksand;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  background-color: rgb(0, 169, 236);
}

/* start on the home main page */
.container{
  height: 600px;
  display: block;
  padding-top: 100px;
  margin-left: 0px;
  margin-right: -11px;
  z-index: 0;
  background-color: rgb(15, 62, 116);
  scroll-behavior: smooth;
  font-size: 1.4rem;
  font: bold;
  font-weight: 700;
  align-items: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-image: url(20346.jpg);
}


.container h1{
  color:rgb(0, 166, 255);
  font: bold;
  font-family: 'DINPro-Medium', sans-serif;
  margin-top: 200px;
  font-size: 40px;
  font-weight: 600;
  margin-left: 190px;
  -webkit-font-smoothing: antialiased;
}

@media (max-width:384px){
  #main-container{
    width: 474px;
    color:rgb(94, 198, 254);
    background-position: center;
    background-size: cover;
    height: 300px;
    font-size: 22px;

  }
}

@media (max-width:384px){
  #bank-slogan{
    color:rgb(255, 255, 255);
    font-size: 1.5rem;
    margin-top: 50px;
    text-transform: lowercase;
    margin-left: 20px;

  }
}

@media (min-width: 385px) and (max-width: 670px){
  #bank-slogan{
    color:rgb(255, 255, 255);
    margin-left: -140px;
    font-size: 2.2rem;
    text-transform: lowercase;
    margin-top: 100px;
    text-align: center;
    font-family: 'DINPro-Medium', sans-serif;
    -webkit-font-smoothing: antialiased;

  }
}

@media (min-width: 385px) and (max-width: 670px){
  #main-container{
    width: 680px;
    color: rgb(255, 255, 255);
    background-position: center;
    background-size: cover;
    height: 580px;
    font-weight: 900;

  }
}

@media (min-width:670px){
  #main-container{
    width: 1580px;
    color:rgb(255, 255, 255);
    background-position: center;
    background-size:cover;
  }
}


p{
  margin-left: 30px;
  margin-bottom: 2px;

}



.animation{
  height: 60px;
  overflow: hidden;
  margin-left: 1rem;

}

@media(max-width: 384px){
  #top-animation{
    font-size: 1.1rem;
    margin-left: 20px;
    color: whitesmoke;
    margin-top: 50px;
    font-weight: 500;
    font-family: 'DINPro-Medium', sans-serif;
    -webkit-font-smoothing: antialiased;

  }
}

@media(min-width: 670px){
  #top-animation{
    font-size: 2rem;
    margin-left: 190px;
    color: whitesmoke;
    display: inline-flexbox;
    font-family: 'DINPro-Medium', sans-serif;
    -webkit-font-smoothing: antialiased;

  }
}

@media(min-width:385px) and (max-width: 670px){
  #top-animation{
    font-size: 1.7rem;
    margin-top: 130px;
    margin-left: 30px;
    color: whitesmoke;
    font-weight: 500;
    font-family: 'DINPro-Medium', sans-serif;
    -webkit-font-smoothing: antialiased;



  }
}


.animation >div >div{
  padding: 1.15rem 1.5rem;
  height: 2.5rem;
  margin-bottom: 2.3rem;
  display: inline-block;
  margin-left: -20px;
  
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}



@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -5.62rem;}
  30% {margin-top: -5.62rem;}
  40% {margin-top: -11.24rem;}
  60% {margin-top: -11.24rem;}
  70% {margin-top: -5.62rem;}
  80% {margin-top: -5.62rem;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
}

.quick-links{
  height: 91px;
  padding: 1px;
  border-bottom: 0px;
  margin-top: -60px;
  z-index: 1;
  display: flex;
  border-radius: 0px;


}

@media(min-width: 670px){
  #links{
    margin-left: 190px;
    width: 1200px;
    margin-top: -60px;
    height: 120px;
    flex-grow: 1;
    display: flex;
    padding-top: -5px;
    background-color:rgb(214, 210, 210);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;

    
  }
}

@media(max-width: 384px){
  #links{
    margin-left: 20px;
    width: 430px;
    margin-top: 40px;
    height: 260px;
    flex-grow: 1;
    display: inline-block;
    background-color:transparent;
    padding-top: 0px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;

    
  }
}

@media(min-width:385px) and (max-width: 670px){
  #links{
    margin-left: 40px;
    border: 0px;
    width: 610px;
    margin-top: 60px;
    height:304px;
    flex-grow: 1;
    padding-top: -5px;
    background-color: transparent;
    padding-left: 0px;
    display: inline-block;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;


    
  }
}


.tariffs{
  align-items: center;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  background-color: white;
  height: 90px;
  width: 165px;
  border-radius: 1px;
  align-content: center;
  transition: ease-in-out;

}


@media(min-width:670px){
  #more-link{
    height: 130px;
    width: 210px;
    margin-right:2px;
    margin-left: -1px;
    margin-top: -1px;
    display: inline-block;
  }
}
@media(min-width:670px){
  #more-link-last{
    height: 130px;
    width: 210px;
    margin-right:-5px;
    margin-left: -1px;
    margin-top: -1px;
    display: inline-block;
  }
}

@media(max-width:384px){
  #more-link{
    width: 140px;
    height: 130px;
    display: inline-block;
    margin-bottom: 1.7px;
    margin-right:0.1px;

  }
}

@media(max-width:384px){
  #more-link-last{
    width: 140px;
    height: 130px;
    margin-bottom: 1.7px;
    display: inline-block;
    


  }
}

@media(min-width:385px) and (max-width: 670px){
  #more-link{
    height: 150px;
    display: inline-block;
    margin-block-end: 1px;
    width: 200px;
    margin-bottom:3px ; 


  }
}

@media(min-width:385px) and (max-width: 670px){
  #more-link-last{
    height: 150px;
    display: inline-block;
    margin-block-end: 1px;
    width: 200px;


  }
}

 
.tariffs:hover{
  background-color: rgb(3, 3, 40);
}

.tariffs img{
  aspect-ratio: 2/3;
  width: 30%;
  object-fit: contain;
  align-self: center;
  margin-left: 30px;
  display: flex;
  padding-bottom: 10px;
  padding-top: 0px;

}

@media(min-width:670px){
  #tarrif-img{
    margin-left: 80px;
    width: 20%;
    margin-top: 10px;

  }
}

@media(max-width:384px){
  #tarrif-img{
    margin-left: 60px;
    width: 15%;
    margin-top: 30px;

  }
}

@media(min-width:385px) and (max-width: 670px){
  #tarrif-img{
    margin-left: 86px;
    width: 15%;
    margin-top: 30px;


  }
}


.tariffs a{
  text-decoration: none;
  font: bold;
  color: black;
  font-size: 18px;
  text-align: center;
  font-weight: 500;

}

.tariffs-tag2{
  margin-left: 0px;
  margin-top: 0px;
  color: rgb(0, 183, 255);
  cursor: pointer;
  font-size: medium;

}

/*end of the quick links */


/* our numbers don't lie */


.bank-numbers{
  height: 500px;
  background-color: rgb(255, 255, 255);
  background-image: url(bankpartners.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 15px;

}

@media(min-width: 670px){
  #bank-numbers{
    width: 1580px;
    margin-bottom: -40px;
    background-repeat: repeat;
  }
}

@media(max-width: 384px){
  #bank-numbers{
    width: 474px;
    height: 950px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media(min-width:385px) and (max-width: 670px){
  #bank-numbers{
    width: 680px;
    height: 600px;
  }
}


.fsa-numbers{
  vertical-align: top;
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin-right: -10px;
  margin-bottom: 40px;
}


@media(min-width: 670px){
  #fsa-numbers{
    width: 1580px;
  }
}

@media(max-width: 384px){
  #fsa-numbers{
    width: 474px;
  }
}
@media(min-width:385px) and (max-width: 670px){
  #fsa-numbers{
    width: 680px;
    margin-left: 0px;

  }
}

.fsa-numbers h1{
  text-transform: uppercase;
  font-size: 1.9rem;
  padding: 10px;
  color: rgba(0, 0, 0, 0.863);
  font-weight: 700;
}

.fsa-numbers p{
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.863);
  padding: 10px;
  font-weight: 700;
}

.real-numbers{
  background-color: transparent;
  margin-left: 0px;
  align-content: center;
  padding: 20px;

}


@media(min-width:670px){
  #real-numbers{
    width: auto;
    height: auto;
    margin-top: 10px;
    display: flex;
    margin-bottom: 0px;
  }
}

@media(max-width:384px){
  #real-numbers{
    width: auto;
    height: auto;
    margin-top: 0px;
    display: block;

    margin-bottom: 0px;
  }
}

@media(min-width:385px) and (max-width: 670px){
  #real-numbers{
    width: auto;
    height: auto;
    margin-top: -30px;
    display: inline-block;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0px;

  }
}

@media(min-width:670px){
  #real-numbers-on{
    width: 400px;
    height: 250px;
    margin-left: 10px;
    border-radius: 20px;
    margin-top: -10px;
    box-shadow: 0px 0px 20px 0px rgb(8, 89, 155);

  }
}


@media(max-width:384px){
  #real-numbers-on{
    width: 300px;
    height: 200px;
    margin-left: 70px;
    border-radius: 0px;
    margin-top:-20px;
  }
}

@media(min-width:385px) and (max-width: 670px){
  #real-numbers-on{
    width: 290px;
    height: 210px;
    margin-left: 30px;
    border-radius: 0px;
    margin-top: 10px;
    border-radius: 10px;
    display: inline-block;
  }
}

@media(max-width: 384px){
  #real-numbers-on-img{
    width: 20%;
  }
}

@media(min-width:385px) and (max-width: 670px){
  #real-numbers-on-img{
    width: 30%;
    border-radius: 30px;
    object-fit: contain;
    
  }
}

.customers{
  height: 190px;
  width:350px;
  margin: 10px;
  background-color: whitesmoke;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0px 0px 100px 0px rgba(8, 89, 155, 0.666);

}


.customers img{
  aspect-ratio: 3/2;
  width: 30%;
  object-fit: contain;
}

.customers p{
  text-transform: uppercase;
  font-family: monospace;
  font-size: 1.7rem;
  color:rgb(13, 13, 112);
  text-align: center;
  font-weight: 900;
}

.customers h1{
  color:rgb(13, 13, 112);
}

.branches{
  height: 190px;
  width:350px;
  margin: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
}

.branches img{
  aspect-ratio: 3/2;
  width: 30%;
  object-fit: contain;
}

.branches p{
  text-transform: uppercase;
  font-family: monospace;
  font-size: 1.7rem;
  color:rgb(13, 13, 112);
  font-weight: 900;
}

.branches h1{
  color: rgba(36, 66, 122, 0.836);
}

.years{
  height: 190px;
  width:350px;
  margin: 10px;
  box-shadow: 0px 0px 90px 0px rgba(8, 89, 155, 0.684);
  background-color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.years img{
  aspect-ratio: 3/2;
  width: 30%;
  object-fit: contain;
}

.years p{
  text-transform: uppercase;
  font-size: bold;
  font-family: monospace;
  font-size: 1.7rem;
  color:rgb(13, 13, 112);
  font-weight: 900;
}

.years h1{
  color:rgb(13, 13, 112);
}


.operating-hours{
  height: fit-content;
  width: 900px;
  background-color: transparent;
  padding: 40px;
  text-align: left;
  margin-left: 200px;
  margin-top: 50px;
  display: flex;
}



@media (max-width: 384px){
  #operating-hours{
    display: inline-block;
    width: auto;
    margin-left: 20px;
    margin-top: 0px;
    padding: 0px;
    margin-bottom: 10px;
  }
}

@media (min-width: 670px){
  #operating-hours{
    display: inline-flex;
    width: auto;
    margin-left: 40px;
    margin-top: 0px;
    padding: 10px;
    margin-bottom: 0px;
  }
}


@media(min-width:385px) and (max-width: 670px){
  #operating-hours{
    display: inline-block;
    width: auto;
    margin-left: 10px;
    margin-top: 0px;
    padding: 10px;
    margin-bottom: 10px;
    
  }
}




.kikumini-branch{
  height: fit-content;
  width: 400px;
  background-color: rgb(252, 248, 248);
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 12px 0px rgb(19, 72, 116);
}
.wote-branch{
  height: fit-content;
  width: 400px;
  background-color: rgb(252, 248, 248);
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 12px 0px rgb(19, 72, 116);
}

@media(max-width:384px){
  #branch-one{
    width: 400px;
    margin-top: 30px;
    border: 0px;
    margin-left: 0px;
    border-radius: 5px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  
  }
}

@media(min-width:670px){
  #branch-one{
    width: 650px;
    height: 400px;
    margin-top: 30px;
    border: 0px;
    margin-left: 8%;
    background-color: rgb(255, 247, 247);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  
  }
}

@media(min-width:385px) and (max-width: 670px){
  #branch-one{
    width: 580px;
    margin-top: 40px;
    border: 0px;
    margin-left: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  
  }
}


@media(min-width:670px){
  #branch-two{
    width: 650px;
    height: 400px;
    margin-top: 30px;
    border: 0px;
    margin-left: 13%;
    background-color: rgb(255, 247, 247);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  }
}

@media(max-width:384px){
  #branch-two{
    width: 400px;
    margin-left: 0px;
    margin-top: 20px;
    border: 0px;
    font-size: 1.0rem;
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  }
}

@media(min-width:385px) and (max-width: 670px){
  #branch-two{
    width: 580px;
    height: auto;
    margin-left: 10px;
    margin-top: 10px;
    border: 0px;
    border-radius: 5px;
    font-size: 1.0rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  }
}

.branch-name{
  text-align: left;
  color: rgb(5, 29, 107);
  font-size: 0.9rem;
}

.time h4{
  text-align: left;
  text-transform: uppercase;
  color: rgb(5, 29, 107);
  text-decoration: underline;
}

.footer{
  height: auto;
  width: 10px;
  display: block;

}

@media(max-width: 384px){
  #footer{
    width: 474px;
    margin-top: 20px;
    height: 550px;
    background-color: rgb(0, 183, 255);
    padding-left: 0px;
    display: block;
    padding-top: 10px;}
  }

@media(min-width: 670px){
  #footer{
    width: 1580px;
    margin-top: 20px;
  }
}

@media(min-width:385px) and (max-width: 670px){
  #footer{
    width: 680px;
    margin-top: 20px;
    height: 350px;
    background-color: rgb(0, 183, 255);
    display: block;
    padding-left: 0px;
    padding-top: 10px;
  }
}

@media(min-width:385px) and (max-width: 670px){
  #disclamer{
    width: 680px;
    margin-top: 0px;
    height: 100px;
    background-color: rgb(3, 3, 40);
    display: block;
    padding-left: 0px;
    padding-top: 10px;
  }
}

@media(min-width: 670px){
  #disclamer{
    width: 1580px;
    margin-top: 0px;
    height: 100px;
    background-color: rgb(3, 3, 40);
    display: block;
    padding-left: 0px;
    padding-top: 10px;
  }
}

@media(max-width:384px) {
  #disclamer{
    width: 474px;
    margin-top: 0px;
    height: 100px;
    background-color: rgb(3, 3, 40);
    display: block;
    padding-left: 0px;
    padding-top: 10px;
  }
}







.footer-info{
  height: auto;
  background-color: rgb(0, 183, 255);
  display: flex;
  padding-left: 50px;
  padding-top: 10px;
}

@media(max-width:384px){
  #footer-info{
    display: block;
    width: auto;
  }
}


.for-you{
  align-content: left;
  padding: 20px;
  margin-left: 400px;
  background-color: transparent;
  display: block;
}

@media(max-width: 384px){
  #for-you{
    margin-left: 70px;
  }
}
@media(min-width:385px) and (max-width: 670px){
  #for-you{
    margin-left: 10px;
  }
}


.for-you h2{
  font-size: 1.6rem;
  color: whitesmoke;
}



.for-your-business{
  align-content: right;
  margin-right: 0px;
  margin-left: 200px;
  padding: 0px;
  padding-top: 20px;
  background-color: transparent;
  display: block;
}

@media(min-width:385px) and (max-width: 670px){
  #for-business{
    margin-left:80px;

  }
}

@media(max-width:384px){
  #for-business{
    margin-left: 80px;
  }
}

.for-your-business h2{
  font-size: 1.6rem;
  color: whitesmoke;
}

.task{
  align-content: left;
  font-size: 1.2rem;
  padding: 10px;
  font-weight: 700;
}

.disclamer{
  background-color: rgb(3, 3, 40);
  margin-top: -30px;
  display: block;
  width: 1539px;
  height: 100px;
  padding-top: 40px;


}

.disclamer p{
  text-align: center;
  margin-left: 0px;
  color: whitesmoke;
}


/* paybill page starts here */




.candlads{
  width: 1680px;
  margin-bottom: 40px;
  border-radius: 5px;
  position: fixed;
  background-color: rgb(255, 255, 255);
  z-index: 3;
  display: none;
  transition: ease-in-out 0.5s;
}



.candlads p{
  font-size: 25px;
  font-weight: 200;
  color: #000000;
  margin-left: 10px;
}

.candlads h1{
  font-size: 25px;
  font-weight: 200;
  color: #00aeff;
  margin-left: 100px;
}






@media(max-width: 384px){
  #candlads{
    width: 454px;
    height: 30%;
    margin-left: 10px;
    margin-right: -3%;
    margin-top: -200px;
    position: -webkit-sticky;    
    z-index: 1;

  }
}
@media (min-width: 385px)and (max-width: 670px){
  #candlads{
    width: 660px;
    height: 30%;
    margin-left: 1%;
    margin-right: -1%;
    margin-top: -60%;
    margin-bottom: 400px;
    border-radius: 10px;
    position: -webkit-sticky;    z-index: 1;

  }
}

@media (min-width:670px){
  #candlads{
    width: 600px;
    height: 40%;
    position: -webkit-sticky; z-index: 1;
    margin-top: -44%;
    z-index: 3;
    display: none;
    margin-left: 6%;
    padding-left: 100px;
    position: fixed;




  }
}


@media(max-width:384px){
  #paybill-number{
    display: inline-block;
    margin-top: -90px;
    text-align: center;
  }
}

@media(max-width:384px){
  #account-number{
    display: inline-block;
  }
}








#overlay{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.555);
  z-index: 1;
  transition: ease-in-out 0.5s;
}

.close-ad-icon{
  font-size: 4rem;
  margin-left: 500px;
  margin-top: -20px;
  padding: 10px;
  background-color: transparent;
  border-radius: 100px;
  cursor: pointer;
  color: rgb(0, 0, 0);

}

.close-ad-icon:hover{
  color: red;
  cursor: pointer;
}

@media(min-width:385px) and (max-width:670px){
  #close-ad-bar{
    margin-left: 600px;

  }
}

@media(min-width:670px){
  #close-ad-bar{
    display:none ;

  }
}


@media(max-width:384px){
  #close-ad-bar{
    margin-left: 380px;
    margin-top: -30px;
    margin-bottom: 10px;
    font-size: 5rem;
    font-weight: 100;
    color: #000000;

  }
}

.open-ad-icon{
  font-size: 3.5rem;
  font-size: 3.5rem;
  float: right;
  margin-top: -25px;
    background-color: rgb(3, 3, 40);
  border-radius: 100px;
  cursor: pointer;
  display: none;

}/* New Sticker */
/*.new-sticker {
  margin: 0;
  position: relative;
  display: inline-block;
  z-index: 5;
}

@media(min-width:385px) and (max-width:670px){
  #new-sticker{
    margin-top: -120px;
    margin-left: -240px;

  }
}
@media(max-width:384px){
  #new-sticker{
    margin-top: -100px;
    margin-left: -180px;

  }
}
.new {
  background-color: orange;
  color: #0b63b4;
  font: .9em/1 'Archivo Narrow', sans-serif;
  letter-spacing: .09em;
  position: absolute;
  transform: rotate(-15deg);
  margin-left: -250px;
  margin-top: -105px;
  font-weight: 700;
  border-radius: 10px;
}

@media(min-width:385px) and (max-width:670px){
  #new{
    background-color: orange;
    color: #0b63b4;
    margin-left: -240px;
    margin-top: -110px;
    font: .9em/2 'Archivo Narrow', sans-serif;
    font-weight: 700;

  }
}
@media(max-width:384px){
  #new{
    background-color: orange;
    color: #0b63b4;
    margin-left: -170px;
    margin-top: -85px;
    font: .8em/1 'Archivo Narrow', sans-serif;
    font-weight: 700;

  }
}


.sticker {
  height: 2.9em;
  width: 2.9em;
  background: rgb(255, 166, 0);
  position: absolute;
  margin-left: -250px;
  margin-top: -120px;
  animation: beat .15s infinite alternate;
  transform-origin: center;
}

@keyframes beat{
  to{transform:scale(1.1);}
}

.sticker:before {
  height: 2.9em;
  width: 2.9em;
  background: orange;
  content:"";
  position: absolute;
  /* Rotate 
  transform: rotate(30deg);
}
.sticker:after {
  height: 2.9em;
  width: 2.9em;
  background: orange;
  content:"";
  position: absolute;
  /* Rotate 
  transform: rotate(-30deg);
} 


/* HOW TO SAVE PAGE*/



.savings-accounts{
  height: 440px;
  background-color: rgb(253, 249, 249);
  width: 100%;
  text-align: left;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url(young-afro-girl-wearing-glasses-looking-happy-texting-with-frien.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment:local;
}

@media(min-width:385px) and (max-width:670px){
  #savings {
    left: 0;
    text-align: left;
    font-size: 23px;
    margin-bottom: 245px;
    width: 680px;
    height: 690px;

  }

} 

@media(min-width:670px){
  #savings {
    left: 0;
    text-align: left;
    font-size: 23px;
    margin-bottom: 245px;
    width: 1580px;
    height: 690px;

  }

} 

@media(max-width:384px){
  #savings {
    left: 0;
    text-align: left;
    font-size: 18px;
    margin-bottom: 30px;
    width: 474px;
    height: 510px;

  }

} 


.about-savings-account{
  border-top: 10px solid rgb(0, 174, 255);
  padding-right: 20px;
  background-color:rgba(255, 255, 255, 0.671);
  width: 650px;
  height: 400px;
  margin-left: 800px;
  margin-bottom: 40px;
  border-radius: 10px;
  
  
} 

@media(max-width:384px){
  #savings-accounts{
    left: 0;
    text-align: left;
    margin-left: 20px;
    font-size: 18px;
    width: 410px;
    height: 300px;
    background-color: rgba(234, 241, 247, 0.74);
    margin-bottom: 10px;
    margin-top: 220px;
    padding-bottom: 20px;
    box-shadow: rgba(10, 10, 20, 0.1) 0px 8px 20px, rgba(10, 10, 20, 0.1) 0px 10px 50px, rgba(10, 10, 20, 0.1) 0px 20px 70px;

  }

} 

@media(max-width:384px){
  #savings-accounts h2, #savings-accounts p{
    left: 0;
    text-align: left;
    margin-left: 30px;
    font-size: 18px;
    color: rgb(1, 16, 22);
  }

} 


@media(min-width:385px) and (max-width:670px){
  #savings-accounts {
    left: 0;
    text-align: left;
    margin-left: 20px;
    font-size: 22px;
    width: 620px;
    margin-top: 320px;
    background-color:rgba(255, 255, 255, 0.774);
    border-radius: 10px;
    box-shadow: rgba(10, 10, 20, 0.1) 0px 8px 20px, rgba(10, 10, 20, 0.1) 0px 10px 50px, rgba(10, 10, 20, 0.1) 0px 20px 70px;


  }

} 
@media(min-width:670px){
  #savings-accounts {
    margin-left: 900px;
    text-align: left;
    font-size: 22px;
    width: 620px;
    margin-top: 120px;
    margin-bottom: 100px;
    background-color:rgba(255, 255, 255, 0.774);
    border-radius: 10px;
    box-shadow: rgba(10, 10, 20, 0.1) 0px 8px 20px, rgba(10, 10, 20, 0.1) 0px 10px 50px, rgba(10, 10, 20, 0.1) 0px 20px 70px;


  }

} 

@media(min-width:385px) and (max-width:670px){
  #savings-accounts h2{
    left: 0;
    text-align: left;
    margin-left: 30px;
    font-size: 32px;
  }

} 


.about-savings-account p{
  font-size: 25px;
  color: #000000;
  margin-left: 50px;
  font-weight: 400;
}

 .benefits h2{
  font-size: 32px;
  margin-left:130px;
  color: rgb(6, 44, 59);
  padding-bottom: 0px;
  margin-bottom: 10px;
  padding-right: 20px;

 }




 @media(max-width:384px){
  #benefits h2 {
    font-size: 25px;
    font-weight: 700;
    margin-left: 20px;
  }
 }


 @media(min-width:385px) and (max-width:670px){
  #benefits h2{
    font-size: 32px ;
    margin-left: 10px;
  }

}

 .list{
  display: flex;
  margin-bottom: 10px;
  margin-top: 40px;
  

 }

 @media(max-width:384px){
  #lists{
    display: block;
    width: 440px;
    margin-left: 20px;
  }
 }

 @media(min-width:385px) and (max-width:670px){
  #lists{
    display: block;
    width: 680px;
  }
 }
 @media(min-width:670px){
  #lists{
    display: flex;
    width: 1580px;
  }
 }
 @media(min-width:670px){
  #benefits-heading{
    display: none;
  }
 }


.benefit{
  height: 300px;
  width: 550px;
  border: 1px solid rgba(255, 255, 255, 0.319);
  border-radius: 0px;
  background-color:rgb(255, 255, 255);
  cursor: pointer;
  margin-left: 0px;
  box-shadow: 0px 10px 20px 0 rgba(0, 1, 0, 0.25);
}

@media(max-width:384px){
  #benefit{
    width: 330px;
    position: relative;
    height: 190px;
    margin-left: 10px;
    margin-bottom: 20px;
    padding: 40px;
  }

}


@media(min-width:385px) and (max-width:670px){
  #benefit{
    width: 640px;
    position: relative;
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;
    height: 200px;
    padding-top: 40px;
    border-radius: 10px;
  }

}

@media(min-width:670px){
  #benefit{
    width: 350px;
    position: relative;
    margin-left: 35px;
    margin-bottom: 20px;
    text-align: center;
    height: 220px;
    padding-top: 10px;
    border-radius: 10px;
  }

}

.list h1{
  font-size: 26px;
  margin-top: 10px;
  margin-left: 30px;
  text-align:center;
  text-transform: capitalize;
  font-family: quicksand;
  color: rgb(4, 6, 126);

}

.text{
  padding: 3px;
  font-family: quicksand;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  color: rgb(17, 8, 90);
  margin-right: 10px;


}


.benefit a{
  text-align: center;
  text-decoration: none;
  color: rgb(31, 8, 116);
  text-transform: uppercase;
  font-family: quicksand;
  font-weight: 600;
  margin-left: 25px;
  margin-top: 1px;
  background-color: wheat;
  border-radius: 2px;
  padding:10px ;
  padding-left: 10px;
  padding-right: 10px;
  animation: beat .40s infinite alternate;
  transform-origin: center;
  position: absolute;
}

@keyframes beat{
  to{transform:scale(1.1);}
}

.what-we-need{
  background-color: whitesmoke;
  height: 650px;
  border: 20px solid rgb(0, 183, 255);
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px;
  margin-bottom: 0px;
}

@media(max-width:384px){
  #what-we-need{
    display: block;
  }
}

@media(min-width:385px) and (max-width:670px){
  #what-we-need{
    display: block;
  }
}

.requirements{
  display: block;
  margin-left: 0px;
}

@media(max-width:384px){
  #requirements{
    display: block;
  }
}

@media(min-width:385px) and (max-width:670px){
  #requirements{
    display: block;
  }
}




.what-we-need-from-you{
  font-family: quicksand;
  text-align: left;
  margin-bottom: 10px;
  padding-bottom: 20px;
  padding-right: 0px;
}

.what-we-need-from-you h1, ul{
  margin-left: 150px;
  text-transform: capitalize;
}
.what-we-need-from-you ul{
  font-family: quicksand;
  font-size: 23px;
  font-weight: 600;
  color: rgb(4, 104, 143);
}
.what-we-need-from-you p{
  text-transform: capitalize;
  font-family: quicksand;
  font-size: 23px;
  margin-left: 150px;
  font-weight: 300;
}

@media(max-width:384px){
  #what-we-need-from-you ul,#what-we-need-from-you h1,#what-we-need-from-you p{
    display: block;
    margin-left: 20px;
    font-size: 23px;

  }
}
@media(min-width:385px)and (max-width:670px){
  #what-we-need-from-you ul,#what-we-need-from-you h1,#what-we-need-from-you p{
    display: block;
    margin-left: 20px;
    font-size: 23px;

  }
}



.account-rates h1, ul{
  margin-left: 150px;
  text-transform: capitalize;
  font-family: quicksand;
  font-size: 23px;
}
.account-rates ul{
  font-family: quicksand;
  font-size: 23px;
  font-weight: 600;
  color: rgb(6, 64, 87);
}

@media(max-width:384px){
  #account-rates ul,#account-rates h1{
    display: block;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 23px;
  }
}
@media(min-width:385px) and (max-width:670px){
  #account-rates ul,#account-rates h1{
    display: block;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 23px;

  }
}

.more-accounts{
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  margin: 0px;
  margin-top: 40px;
  padding-bottom: 20px;
  margin-bottom: -20px;
}

.myslides{
  display: none;
}

.myslides-main{
  display: block;
}



@media(min-width:385px) and (max-width:670px){
  #more-accounts{
    display: block;
    height: max-content;
  }
}

@media(min-width:670px){
  #more-accounts{
    display: block;
    height: max-content;
  }
}

@media(max-width:384px){
  #more-accounts{
    display: block;
    height: max-content;
  }
}


.account{
  background-color: transparent;
  height: 560px;
  width: 500px;
  margin: 40px;
}

@media(min-width:385px) and (max-width:670px){
  #myslides{
    margin-left: 0px;
    margin-top: -40px;
    width: 680px;
    height: auto;
  }
}



@media(max-width:384px){
  .myslides{
    margin-left: 40px;
    margin-top: -40px;
    width: 80%;
    height: auto;
  }
}

@media(min-width:670px){
  #myslides{
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
  }
}

@media (max-width:384px){
  #slide-show{
    margin-left: 50px;
    margin-top: 40px;
    height: auto;
    aspect-ratio: 3/2;
    object-fit: contain;
    width:80%;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px rgb(8, 89, 155);
  
  }
}




@media (min-width:670px){
  #slide-show{
    width: 40%;
    border-radius: 10px;
    align-self: center;
    margin: 0px;
    margin-right: 0px;
    margin-left: 80px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 30px 0px rgb(8, 89, 155);
  
  }
}

@media (min-width:385px) and (max-width:670px){
  #slide-show{
    margin-left: 90px;
    margin-top: 40px;
    height: auto;
    aspect-ratio: 3/2;
    object-fit: contain;
    width: 500px;;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px rgb(8, 89, 155);
  
  }
}


.details{
  margin-top: -40px;
  background-color: transparent;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
}


@media(min-width:385px) and (max-width:670px){
  #details{
    margin: 0px;
    text-align: center ;
    padding-left: 40px;
    padding-right: 50px;

  }
}


@media(min-width:670px){
  #details{
    margin-left: -20px;
    text-align: center ;
    padding-left: 10px;
    padding-right: 10px;
    width: 600px;
    height: 200px;
    margin-top: 50px;
    margin-right: 200px;

  }
}

@media(max-width:384px){
  #details{
    margin: 0px;
    text-align: center ;
    padding-left: 30px;
    padding-right: 30px;

  }
}

.details h1{
  text-align: center;
  font-size: 30px;
  color: rgb(0, 183, 255);
  font-weight: 700;
  text-decoration: none;
  text-transform: capitalize;
}

.details p{
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  margin-right: 0px;
}

.details-a{
  text-decoration:  none;
  font-size: 22px;
  font-weight: 900;  padding: 10px;
  border-radius: 5px;
  margin-top: 500px;
  margin-left: 150px;
  text-transform: uppercase;

}

@media(max-width:384px){
.what-other-looked{
  font-size: 28px;
  text-align: center;
  text-decoration: dotted;
  font-weight: 600;
 
}
}

@media(min-width:385px) and (max-width:670px){
  .what-other-looked{
    font-size: 28px;
    text-align: center;
    text-decoration: dotted;
    font-weight: 600;
   
  }
  }

  @media(min-width:670px){
    .what-other-looked{
      font-size: 22px;
      text-align: center;
      text-decoration: dotted;
      font-weight: 600;
      margin-left: 20px;
     
    }
    }

.uiverse {
  position: relative;
  background: linear-gradient(320deg, rgb(0, 132, 255), rgb(224, 228, 241));
  color: #000;
  padding: 15px;
  margin: 0px;
  margin-left: 100px;
  border-radius: 10px;
  width: 250px;
  height: 50px;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 10px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@media(min-width:385px) and (max-width:670px){
  .uiverse{
    margin-left: 200px;
  }
}

.tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.uiverse:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

svg:hover span,
svg:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.uiverse:hover,
.uiverse:hover .tooltip,
.uiverse:hover .tooltip::before {
  background: linear-gradient(320deg, rgb(3, 77, 146), rgb(0, 60, 255));
  color: #ffffff;
}

@media(min-width:385px) and (max-width:670px){
  #details-a{
    margin-left: 20px;
    margin-top: 80px;
    width: 80%;
    height: auto;
  }
}

@media(max-width:384px){
  #details-a{
    margin-left: 20px;
    margin-top: 80px;
    width: 80%;
    height: auto;
  }
}

/* LOCATION PAGE STARTS HERE*/
 .location{
  background-color: #f1f5f7;
  height: 150%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  display: flex;
  padding-top: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
 }

 @media(max-width:384px){
  #our-location{
    width: 474px;
    height: 100%;
    background-size: cover;
    display: block;
    padding-top: 150px;
  }
 }

 @media(min-width:385px) and (max-width:670px){
  #our-location{
    width: 680px;
    height: 100%;
    background-size: cover;
    display: block;
  }
 }


 @media(min-width:670px){
  #our-location{
    width: 1580px;
    height: 100%;
    background-size: cover;
    display: block;


  }
 }



 .branch-location{
  display: flex;
  padding: 0px;
 }

 @media(max-width:384px){
  #branch-location{
    display: block;
    padding: 10px;
    background-color: transparent;
  }
 }

 @media(min-width:385px) and (max-width:670px){
  #our-location{
    display: block;
    padding-top: 150px;

  }
 }

 @media(min-width:670px){
  #our-location{
    display: block;
    padding: 0px;

  }
 }

 .filter-msg{
  font-size: 22px;
  font-family: 'DINPro-Medium', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  margin-top: -00px;
 }



@media(max-width:384px){
 .kikumini{
  width: 375px;
  margin-top: 40px;
  height: 530px;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 100px;
  font-size: 1.2rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;

 }
}


@media(min-width:385px) and (max-width:670px){
  .kikumini{
    width: 590px;
    margin-top: 10px;
    height: 650px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 100px;
    font-size: 1.5rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  

  }
 }

 
@media(min-width:670px){
  .kikumini{
    width: 470px;
    margin-top: 120px;
    height: 600px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
    font-size: 1.5rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  }
 }

 .kikumini h3{
  font-size: 25px;
  margin-left: 10px;
  padding-bottom: 20px;
  text-transform: lowercase;
 }

 .kikumini img{
  width: 8%;
  object-fit: contain;
  aspect-ratio: 3/2;
  margin-top: -30px;
 }

 .kikumini p{
  margin-top: 5px;
  margin-left: 50px;
 }



@media(max-width:384px){
  .map{
    background-color: #0b63b4;
    display: flex;
    vertical-align: middle;
    justify-content: space-around;
    width:  415px;
    height: 100px;
    padding-left: 0px;
    margin-left: -20px;
    margin-top: 40px;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px;
    border: 0px solid;
    text-decoration: none;
  }
}


@media(min-width:385px) and (max-width:670px){
  .map{
    background-color: #0b63b4;
    display: flex;
    vertical-align: middle;
    justify-content: space-around;
    height: 120px;
    padding-left: 0px;
    margin-left: -20px;
    margin-top: 60px;
    margin-right: -20px;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px;
    border: 0px solid;
    text-decoration: none;

  }
 }

 @media(min-width:670px){
  .map{
    display: none;
  }
 }


.map:hover{
  background-color: rgb(0, 183, 255);
}

@media(max-width:384px){
  .map h3, i{
    font-size: 2rem;
    margin-top: 30px;
    color: white;

  }
}


@media(min-width:385px) and (max-width:670px){
  .map h3, i{
    font-size: 2rem;
    margin-top: 50px;
    color: white;

  }
 }


.arrow {
  border: 10px solid whitesmoke;
  width: 30px;
  height: 30px;
  transform: rotateZ(-45deg);
  border-top: 0px;
  border-left: 0px;

}

iframe{
  display: none;
}

@media(min-width:670px){
  iframe{
    display: block;
    margin-top: 120px;
    width: 1000px;
    height: 900px;
    margin-left: -20px;
    margin-bottom: 40px;
    border-radius: 5px;
  }
}

marquee{
  font-size: 1.5rem;
  color: rgb(3, 47, 69);
  background-color: white;
  padding: 10px;
  font-weight: 600;
}


/*our help page*/

.contact-fsa{
  padding-top: 100px;
  height: 500px;
}

@media (max-width:384px){
  .contact-fsa{
    width: 474px;
    height: 100%;
    background-color:rgb(255, 255, 255);
    margin-bottom: 20px;


  }
}
@media (min-width:385px) and (max-width:670px){
  .contact-fsa{
    width: 680px;
    height: 100%;
    background-color:rgb(255, 255, 255);
    margin-bottom: 20px;


  }
}
@media (min-width:670px){
  #contact-fsa{
    width: 1580px;
    height: 100%;
    background-color:rgb(255, 255, 255);
    margin-bottom: 20px;


  }
}

@media (max-width:384px){
  #talk-to-us{
    width: 435px;
    height: 900px;
    margin-left: 20px;
    margin-top:40px;
    background-color: rgb(0, 183, 255);
    margin-bottom: 20px;
    display: block;
    text-align: center;
    padding-top: 40px;
    border-radius: 5px;
    box-shadow: rgba(10, 10, 20, 0.1) 0px 8px 20px, rgba(10, 10, 20, 0.1) 0px 10px 50px, rgba(10, 10, 20, 0.1) 0px 20px 70px;
  }
}

@media (min-width:385px) and (max-width:670px){
  #talk-to-us{
    width: 640px;
    height: 900px;
    margin-left: 20px;
    margin-top:10px;
    background-color: rgb(0, 183, 255);
    margin-bottom: 20px;
    display: block;
    text-align: center;
    padding-top: 40px;
    border-radius: 10px;
    box-shadow: rgba(10, 10, 20, 0.1) 0px 8px 20px, rgba(10, 10, 20, 0.1) 0px 10px 50px, rgba(10, 10, 20, 0.1) 0px 20px 70px;

  }
}
@media (min-width:670px){
  #talk-to-us{
    width: 640px;
    height: 900px;
    margin-left: 34%;
    margin-top:10px;
    background-color: rgb(0, 183, 255);
    margin-bottom: 20px;
    display: block;
    text-align: center;
    padding-top: 40px;
    box-shadow: rgba(10, 10, 20, 0.1) 0px 8px 20px, rgba(10, 10, 20, 0.1) 0px 10px 50px, rgba(10, 10, 20, 0.1) 0px 20px 70px;

  }
}

@media(max-width:384px){
  .talk-to-us, h2{
    font-size: 28px;
    font-weight: 700;
  }
}

@media (min-width:385px) and (max-width:670px){
  .talk-to-us, h2{
    font-size: 28px;
    font-weight: 700;
    text-align: center;


  }
}
@media (min-width:670px){
  .talk-to-us, h2{
    font-size: 28px;
    font-weight: 700;
    text-align: center;


  }
}

.talk-to-us, img{
  width: 20%;
  border-radius: 30px;
  aspect-ratio: 3/2;
  object-fit: contain;
  margin-top: 10px;
}


